<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>You gave a title: {{ title }}</title>
    {% else %}
    <title>You gave NO title</title>
    {% endif %}
</head>
<body>
    <div>Go Home: <a href="/index">Home</a> </div>
    <hr>
    {%  with messages=get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <hr>
    {% block childContent %} {% endblock %}
</body>
</html>