{% extends 'base.html' %}
{% block childContent %}
<h1>Add dish</h1>
    <form action="" method="post" name="add_dish">
    {{ form.hidden_tag() }}
    <p>
        Restaurant:<br>
        {{ form.restaurant(size=20) }}
        {% for error in form.restaurant.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        Name:<br>
        {{ form.name(size=20) }}
        {% for error in form.name.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        Price:<br>
        {{ form.price(size=10) }}
        {% for error in form.price.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p><input type="submit" value="Add"></p>
    </form>
{% endblock %}