{% extends 'base.html' %}
{% block childContent %}
<h1>Add restaurant</h1>
    <form action="" method="post" name="add_restaurant">
    {{ form.hidden_tag() }}
    <p>
        Country:<br>
        {{ form.country(size=20) }}
        {% for error in form.country.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p>
        Name:<br>
        {{ form.name(size=20) }}
        {% for error in form.name.errors %}
        <span style="color: red;">{{ error }}</span>
        {% endfor %}
    </p>
    <p><input type="submit" value="Add"></p>
    </form>
{% endblock %}